.proto-mobile-grid-navigation {
    display: none;
}
.proto-tab-content {
    display: block;
}
.proto-tab-active-content {
    display: block;
}
@media only screen and (max-width: 500px) {
    .proto-mobile-grid-navigation {
        display: block;
        background: #ffffff;
        height: 50px;
    }
    .proto-mobile-grid-navigatio-tab {
        padding: 17px 15px;
        font-size: 12px;
        display: inline-block;
        font-family: "cabin";
    }
    .proto-mobile-grid-navigatio-tab.proto-active-tab {
        color: #ee6723;
        border-bottom: 2px solid #ee6723;
    }
    .proto-tab-content {
        display: none;
    }
    .proto-tab-content.proto-tab-active-content {
        display: block;
    }
}