
body{
	position:relative;
}
.article-para{
	font-size: 16px;
	line-height: 28px;
	color:#707175;
	font-family: cabin;
	margin-bottom: 20px;
	display: inline-block;
}

.article-para strong{
	color: #333;
}

.article-h2{
	font-size: 22px;
	color: #333;
	font-family: cabin;
	line-height: 36px;
	margin-top: 10px;
	font-weight: bold;
	display: inline-block;
}

.article-area-small{
	height: 700px;
	overflow: hidden;
	position: relative;
}
ul.scrollspy-child-ul {
	list-style: none;
	padding-left: 15px;
	font-size: 12px;
	margin-top: 0px !important;
  }
  .scrollspy-parent-li {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
  }
  .scrollspy-aboutpage-li {
	font-size: 12px;
  }
  .dull-out {
	opacity: 0.4;
  }
  .scrollspy-child-ul {
	display: none;
  }
  .scrollspy-navbar ul li a.active + ul.scrollspy-child-ul {
	display: block;
  }
  .mobbed-footer-space {
	width: 100%;
	height: 300px;
  }
  .list-group-item {
	height: auto !important;
	line-height: initial !important;
	text-align: left !important;
  }
  .scrollspy-child-ul li {
	height: inherit !important;
  }
  .scrollspy-child-ul {
	border-bottom: 0px !important;
  }
  .scrollspy-child-ul li a {
	font-size: 12px !important;
  }
  .scrollspy-navbar ul {
	border-bottom: 0px !important;
  }
  .scrollspy-navbar ul li {
	height: auto !important;
  }
  .scrollspy-navbar ul li:hover a {
	background-color: #fff;
	color: #555;
  }
.fade-area{
	height: 200px;
	background: linear-gradient(#ffffff00, #ffffff);
	position: absolute;
	width: 100%;
	bottom: 0px;
}

.default-button{
	font-family: cabin;
	color: #333;
	border-radius: 4px;
	border: 1px solid #777;
	padding: 10px 15px;
	text-align: center;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	margin-left: 50%;
    transform: translate(-50%,0);
    cursor: pointer;
}

.read-more-button{
	margin-bottom: 50px;
}

.article-area .fade-area{
	display: none;
}

.index-list{
	border-left: 1px solid #efefef;
}

.single-index-value{
	padding: 10px 12px;
	display:inline-block;
	border-left: 1px solid white;
	color: rgba(51,51,51,0.75);
	font-family: cabin;
	font-size: 14px;
}

.single-index-value.active-value{
	border-left: 2px solid #e71414;
	color: #e71414;
	margin-left: -1px;
}

.article-share-icons{
	background: #e71414;
	width: 300px;
	display: inline-block;
	text-align: center;
	height: 50px;
	float: left;
}

.single-share-icon{
	width: 75px;
	text-align: center;
	float: left;
	display: inline-block;
	color: white;
	margin-top: 17px;
}

.summary-text{
	padding: 12px;
	background: #fafafa;
	display: inline-block;
	width: 300px;
    box-sizing: border-box;
}
.summary{
	height:50px;
}
.index-title-tabs{
	width: 300px;
	border-bottom: 1px solid #efefef;
	display: inline-block;
	margin-bottom: 12px;
	margin-top: 20px;
}

.single-tab-value{
	border-bottom: 1px solid white;
	color: rgba(51,51,51,0.5);
	text-transform: uppercase;
	width: 150px;
	text-align:center;
	display: inline-block;
	float: left;
	font-family: cabin;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
}

.single-tab-value.active-value{
	border-bottom: 2px solid #e71414;
	margin-bottom: -1px;
	color: #e71414;
}

